$accent: #64c29e;
$black: #282f35;
$white: #ffffff;
$main-color: #848789;
$heading: #353738;
$gray: #a9afb3;
$light-gray: #f7f7f7;
$blue: #56c7ee;
$dark-blue: #4d4959;

$padding-x: 30px;

$main-font: 'Lato', Arial, sans-serif;

$hover-effect: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;